<html layout:decorate="~{adminView/adminIndex}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="adminContent" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">ADMIN 계정 추가</h1>
    <p class="mb-4" style="font-size: 15px">* 이미 등록된 계정은 추가할 수 없습니다. 등록 실패 시 이미 사용중인지 확인하여주세요.</p>


    <div class="card shadow mb-4">
        <form class="card-body m-3">
            <div class="d-flex justify-content-start mb-3 applyForm">
                <span style="width: 150px;">이메일 주소</span>
                <input class="apply-form-control-lg" type="text" name="email" id="admin_email" >
            </div>
            <div class="d-flex justify-content-start mb-3 applyForm">
                <span style="width: 150px;">비밀번호</span>
                <input class="apply-form-control-lg" type="text" name="password" id="admin_password">
            </div>
            <div class="d-flex justify-content-end ">
                <button type="button"
                        onclick="admin_member_submit()"
                        class="btn btn-sm btn-primary"
                        style=" height: 40px; width: 100px;"
                >추가</button>
            </div>
        </form>
    </div>

</div>
</html>