<html layout:decorate="~{adminView/adminIndex}">
<div layout:fragment="adminContent" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">공고 등록</h1>
    <p class="mb-4">공고를 등록하세요!</p>


    <div class="card shadow mb-4">
        <form class="card-body m-3" enctype="multipart/form-data">
            <div class="d-flex justify-content-start mb-3 applyForm">
                <span style="width: 150px;">공고 제목
                    <sup>*</sup></span>
                <input class="apply-form-control-lg"  type="text" name="title" id="board_title">
            </div>
            <div class="d-flex justify-content-start mb-3 applyForm">
                <span style="width: 150px;">공고 기간
                    <sup>*</sup></span>
                <div class="d-flex justify-content-start applyForm">
                    <input type="date" id="startDatePicker" class="form-control me-3" name="start_date">
                    <div class="px-3 d-flex align-content-center"> ~ </div>
                    <input type="date" id="endDatePicker" class="form-control" name="end_date">
                </div>
            </div>
            <div class="d-flex justify-content-start mb-3 applyForm">
                <span style="width: 150px;">추가 사항</span>
                <div class="d-flex flex-column" style="width: 70%">
                    <div class="d-flex justify-content-between mb-3 applyForm">
                        <span style="width: 100px;">경력
                    <sup>*</sup></span>
                        <input class="apply-form-control-sm me-5" type="text" name="experience" id="board_experience">
                        <span style="width: 100px;">학력
                    <sup>*</sup></span>
                        <input class="apply-form-control-sm" type="text" name="education" id="board_education">
                    </div>
                    <div class="d-flex justify-content-between applyForm">
                        <span style="width: 100px;">근무 형태
                    <sup>*</sup></span>
                        <input class="apply-form-control-sm me-5" type="text" name="type" id="board_type">
                        <span style="width: 100px;">근무지
                    <sup>*</sup></span>
                        <input class="apply-form-control-sm" type="text" name="location" id="board_location">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-start mb-3 applyForm">
                <span style="width: 150px;">공고 내용
                    <sup>*</sup></span>
                <textarea class="apply-form-control-lg"
                          id="kothing-editor"
                          name="content"
                          style="height: 500px; width: 90%">
                </textarea>
            </div>
            <div class="d-flex justify-content-start mb-3 applyForm">
                <span style="width: 150px;">첨부 파일 </span>
                <input class="form-control" type="file" id="board_file"
                       style="width: 80%", name="file">
            </div>
            <div class="d-flex justify-content-end ">
                <button type="button"
                        onclick="admin_board_submit()"
                        class="btn btn-sm btn-primary"
                        style="height: 40px; width: 100px;"
                >등록</button>
            </div>
        </form>
    </div>

</div>
</html>