<html layout:decorate="~{adminView/adminIndex}">
<div layout:fragment="adminContent" class="container-fluid" xmlns:th="http://www.thymeleaf.org">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">지원목록 관리</h1>
    <p class="mb-4">등록된 공고를 수정하고 삭제할 수 있습니다.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" >
                    <thead>
                    <tr>
                        <th style="width: 40%">지원 공고 제목</th>
                        <th style="width: 10%">지원자 이름</th>
                        <th style="width: 10%">생일</th>
                        <th style="width: 10%">이메일</th>
                        <th style="width: 15%">첨부파일</th>
                        <th style="width: 5%">삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="apply : ${applyList}">
                        <td th:text="${apply.board.title}">Tiger Nixon</td>
                        <td th:text="${apply.name}">Tiger Nixon</td>
                        <td th:text="${apply.birthday}">Tiger Nixon</td>
                        <td th:text="${apply.email}">Tiger Nixon</td>
                        <td>
                            <a th:text="${apply.filename}" th:href="|/admin/applyDownload/${apply.id}|"></a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-circle ms-2" th:href="@{/admin/apply/delete(id=${apply.id})}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</html>