<html layout:decorate="~{/adminView/adminIndex}">
<div layout:fragment="adminContent" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">공고 등록</h1>
    <p class="mb-4">공고를 등록하세요!</p>


    <div class="card shadow mb-4">
        <form class="card-body m-3" action="/admin/register/success" method="post" enctype="multipart/form-data">
            <div class="d-flex justify-content-start mb-3">
                <span style="width: 150px;">공고 제목 *</span>
                <input class="form-control" style="width: 70%" type="text" name="title">
            </div>
            <div class="d-flex justify-content-start mb-3">
                <span style="width: 150px;">공고 기간 *</span>
                <div class="d-flex justify-content-start">
                    <input type="date" id="startDatePicker" class="form-control me-3" name="start_date">
                    <div class="px-3 d-flex align-content-center"> ~ </div>
                    <input type="date" id="endDatePicker" class="form-control" name="end_date">
                </div>
            </div>
            <div class="d-flex justify-content-start mb-3">
                <span style="width: 150px;">추가 사항</span>
                <div class="d-flex flex-column" style="width: 70%">
                    <div class="d-flex justify-content-between mb-3">
                        <span style="width: 150px;">경력 *</span>
                        <input class="form-control" style="width: 50%" type="text" name="experience">
                        <span style="width: 150px; margin-left: 30px;">학력 *</span>
                        <input class="form-control" style="width: 50%" type="text" name="education">
                    </div>
                    <div class="d-flex justify-content-between">
                        <span style="width: 150px;">근무 형태 *</span>
                        <input class="form-control" style="width: 50%" type="text" name="type">
                        <span style="width: 150px; margin-left: 30px;">근무지 *</span>
                        <input class="form-control" style="width: 50%" type="text" name="location">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-start mb-3">
                <span style="width: 150px;">공고 내용</span>
                <textarea class="form-control"
                          id="editor"
                          name="content"
                          style="height: 500px; width: 90%">
                </textarea>
            </div>
            <div class="d-flex justify-content-start mb-3">
                <span style="width: 150px;">첨부 파일 </span>
                <input class="form-control" type="file" style="width: 80%", name="file">
            </div>
            <div class="d-flex justify-content-end ">
                <button type="submit"
                        class="btn btn-sm btn-primary"
                        style="height: 40px; width: 100px;"
                >작성</button>
            </div>
        </form>
    </div>

</div>
</html>