<html layout:decorate="~{/adminView/adminIndex}">
<div layout:fragment="adminContent" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">공고 등록</h1>
    <p class="mb-4">공고를 등록하세요!</p>


    <div class="card shadow mb-4">
        <form class="card-body" action="/register/success" method="post">
            <div class="d-flex justify-content-start mb-3">
                <span style="width: 150px;">공고 제목</span>
                <input class="form-control" type="text" name="title">
            </div>
            <div class="d-flex justify-content-start mb-3">
                <span style="width: 150px;">공고 날짜 선택</span>
                <div class="d-flex justify-content-start">
                    <input type="date" id="startDatePicker" class="form-control me-3" value="2023-01-31">
                    <div class="me-3 align-content-center"> ~ </div>
                    <input type="date" id="endDatePicker" class="form-control" value="2023-02-28">
                </div>
            </div>
            <div class="d-flex justify-content-start mb-3">
                <span style="width: 150px;">공고 내용</span>
                <textarea class="form-control"
                          id="editor"
                          name="content"
                          style="height: 500px; width: 1000px"></textarea>
            </div>
            <div class="d-flex justify-content-end ">
                <button type="submit" class="btn btn-sm btn-primary">작성</button>
            </div>
        </form>
    </div>

</div>
</html>