

<ul th:fragment="adminSidebarFragment" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-text mx-3">CASTIS recruit <sup>ADMIN</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/admin/dashboard}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        채용 공고
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/admin/boardSetting}">
            <i class="fas fa-fw fa-cog"></i>
            <span>공고목록 관리</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/admin/register}">
            <i class="fas fa-fw fa-wrench"></i>
            <span>새로운 공고 등록</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        지원 관리
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/applySetting}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>지원내역</span></a>
    </li>

    <li class="nav-item">
    <a class="nav-link" th:href="@{/admin/applyMailSetting}">
        <i class="fas fa-fw fa-cogs"></i>
        <span>지원자 메일 설정</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/successMsgSetting}">
            <i class="fas fa-fw fa-cogs"></i>
            <span>지원완료 문구 설정</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        계정 관리
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/memberList}">
            <i class="fas fa-fw fa-user"></i>
            <span>ADMIN 계정 목록</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/addMember}">
            <i class="fas fa-fw fa-cogs"></i>
            <span>ADMIN 계정 추가</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>
