<html layout:decorate="~{/adminView/adminIndex}">
<div layout:fragment="adminContent" class="container-fluid" xmlns:th="http://www.thymeleaf.org">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">ADMIN 계정 목록</h1>
    <p class="mb-4">ADMIN 계정의 목록을 확인하고 삭제할 수 있습니다.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" >
                    <thead>
                    <tr>
                        <th style="width: 40%">EMAIL ADDRESS</th>
                        <th style="width: 10%">ROLE</th>
                        <th style="width: 5%">DELETE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member : ${memberList}">
                        <td th:text="${member.email}">Tiger Nixon</td>
                        <td th:text="${member.role}">Tiger Nixon</td>
                        <td>
                            <a class="btn btn-danger btn-circle ms-2" th:href="@{/admin/member/delete(id=${member.id})}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</html>