<html layout:decorate="~{index}" xmlns:layout="http://www.w3.org/1999/xhtml">
<header layout:fragment="header" class="masthead2" xmlns:th="http://www.thymeleaf.org">
    <div class="container position-relative px-4 px-lg-5">
    </div>
</header>
<!-- Post Content-->
<article layout:fragment="content" class="mb-4">
    <div class="container">
        <div class="d-flex justify-content-start m-3 mb-5 custom_board_text"
             style="font-weight: 800; font-size: 30px"
             th:text="${successMessageInfo.title}">
            지원 완료
        </div>
        <div class="card shadow" style="margin-bottom: 50px">
            <div class="m-5" th:utext="${successMessageInfo.content}">
            </div>
        </div>
    </div>
</article>

</html>