<html layout:decorate="~{index}">
<header layout:fragment="header" class="mastheadCulutre">
    <p class="culture-title d-flex justify-content-center">HOW WE WORK</p>
    <p class="culture-mainText d-flex justify-content-center">일에 몰입하여 즐거움과 성장의 기쁨을 느끼며 새로운 역사를 만들어갑니다.</p>
</header>

<!-- Main Content-->
<main layout:fragment="content" class="mb-4">
    <div class="culture_business_platform d-flex flex-column">
        <div class="culture_main_box d-flex flex-column justify-content-start">
            <div class="culture_main_title">비즈니스 플랫폼</div>
            <div class="culture_sub_title">
                CASTIS는 모든 업무를</br>
                서비스로 정의합니다.
            </div>
            <div class="culture_main_content">
                서비스는 사고 팔 수 있어야 합니다.</br>
                스스로 서비스를 직접 발행하고 거래하는</br>
                우리들의 세계관을 일컬어 Business Platform 이라고 부릅니다.</br>
                당신이 꿈꾸고 있는 어떠한 사업이라도 여기에서는 실현 가능합니다.
            </div>
        </div>
<!--        <div class="culture_plus_container">-->
<!--            <div class="culture_plus_list">-->
<!--                <div class="culture_plus_item">-->
<!--                    <span class="culture_plus_item_txt">BUSINESS PLATFORM</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="d-flex justify-content-center">
            <img style="width: 95%; margin-top: 15vh" th:src="@{/img/asset/culture/bussiness_platform.svg}"/>
        </div>
    </div>

    <div class="culture_performance d-flex flex-column">
        <div class="culture_main_box d-flex flex-column justify-content-start">
            <div class="culture_main_title">개인성과</div>
            <div class="culture_sub_title">
                프로젝트의 시작부터 끝까지,</br>
                보상이 눈에 보이는 문화를 만듭니다.
            </div>
        </div>
        <div class="culture_performance_img d-flex justify-content-center">
            <img style="width: 70vh;" th:src="@{/img/asset/culture/culture_performance.svg}"/>
        </div>
        <div class="culture_main_content" style="text-align: center;">
            누군가가 당신의 목표를 정해주지 않습니다.</br>
            CASTIS 에서는 스스로 자기 결정 금액을 정하고,</br>
            그 목표를 달성하기 위해 노력하는 분들이 모여있습니다.</br></br>

            우리는 시키는 일을 열심히 하겠다는 분 보다는</br>
            자기의 목표를 스스로 결정하고 달성하실 분들을 모십니다!</br></br>

            물론, 초과 달성한 금액은 제한없이 개인 분에게 돌아갑니다.</br>
            개인의 능력을 최대한 끌어내어 최대한의 베네핏으로 보상 받아 보세요!</br>
        </div>
    </div>

    <div class="culture_issue d-flex flex-column">
        <div class="culture_main_box d-flex flex-column justify-content-start">
            <div class="culture_main_title">이슈 비춰보기</div>
            <div class="culture_sub_title">
                이해관계자와 자기 성찰의 시간을 통해</br>
                안전/안심 커뮤니케이션을 지향합니다.
            </div>
        </div>
        <div class="culture_performance_img d-flex justify-content-center">
            <img style="width: 80vh;" th:src="@{/img/asset/culture/culture_issue.svg}"/>
        </div>
        <div class="culture_main_content" style="text-align: center;">
            자기 결정 금액은 업무의 가치로만 이루어지지 않습니다.</br></br>

            CASTIS에서는 자신의 불완전함을 인정하고,</br>
            이를 보완하기 위해 노력하는 태도를 기반으로 소통합니다.</br></br>

            서로간의 소통에 가치를 두며,</br>
            이 소통을 이슈 비춰보기라 부릅니다.</br></br>

            이런 소통 활동을 통하여 문제를 해결하다보면</br>
            당신도, 당신의 동료도 조금 더 가치있는 일을 하며</br>
            함께 성장할 수 있을 것입니다!</br>
        </div>
        <div class="culture_performance_img d-flex justify-content-center">
            <img th:src="@{/img/asset/culture/culture_colleagues.svg}"/>
        </div>
        <div class="d-flex justify-content-center" style="margin-bottom: 150px">
            <a class="d-flex justify-content-center btn btn-sm culture_button my-5"
               href="https://daisy.castis.net/">
                <span> 인재영입발굴 이슈비춰보기 체험해보기 </span>
            </a>
        </div>
    </div>

    <div class="culture_performance d-flex flex-column justify-content-center">
        <div class="culture_main_box d-flex flex-column justify-content-start">
            <div class="culture_main_title">직원 인터뷰</div>
            <div class="culture_sub_title" style="margin-bottom: 50px">
                CASTIS에서 일하면서</br>
                어떤 점이 가장 좋으신가요?
            </div>
        </div>
        <div class="swiper mySwiper swiper-h">
            <div class="swiper-wrapper">
                <div class="swiper-slide" >
                    <img th:src="@{/img/asset/culture/culture_interview_1.svg}">
                </div>
                <div class="swiper-slide" >
                    <img th:src="@{/img/asset/culture/culture_interview_2.svg}">
                </div>
                <div class="swiper-slide" >
                    <img th:src="@{/img/asset/culture/culture_interview_3.svg}">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</main>
<!-- Footer-->
<footer layout:fragment="footer" class="border-top">
    <div class="container" style="padding-left: 50px; padding-right: 50px;">
        <div class="row ">
            <address class="col-md-3 col-lg-3">
                <ul>
                    <li class="footer-title">채용문의</li>
                    <li class="footer-content">
                        <a href="mailto:recruit@castis.com">recruit@castis.com</a>
                    </li>
                    <li class="footer-content">
                        <a href="tel:010-5646-6765">영입문의(유선/문자) 010 5646 6765</a>
                    </li>
                    <li class="footer-content">
                        <a href="tel:02-886-6763">대표전화 02 886 6763</a>
                    </li>
                </ul>
            </address>
            <div class="col-md-3 col-lg-4">
                <ul>
                    <li class="footer-title">CASTIS</li>
                    <li class="footer-content">
                        <a href="https://www.castis.com" target="_blank" rel="noreferrer">CASTIS 홈페이지</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://blog.naver.com/castishr" target="_blank" rel="noreferrer">CASTIS 블로그</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://www.instagram.com/castis_recruit" rel="noreferrer" target="_blank">인스타그램</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://www.youtube.com/@castisrecruit" rel="noreferrer" target="_blank">유튜브 채널</a>
                    </li>
                </ul>
            </div>
            <address class="col-md-6 col-lg-5" style="padding-left: 32px; padding-right: 32px;">
                <p class="footer-desc m-0">Copyright © (주) 캐스트이즈. All rights reserved.</p>
                <p class="footer-desc m-0">서울특별시 관악구 남부순환로 1931 봉천동 K타워 3~7층</p>
                <p class="footer-desc m-0">
                    <a href="#" rel="noreferrer" target="_blank">
                        개인정보처리방침
                    </a>
                </p>
            </address>
        </div>
    </div>
</footer>
</html>