<html layout:decorate="~{index}">

<header layout:fragment="header" class="mastheadMain">

</header>

<div layout:fragment="content" class="container-fluid"
     style="background-image: url('img/asset/manu/2.svg');
     background-position: right center;
     background-repeat: no-repeat; padding-left: 250px; padding-right: 300px;">
    <div class="post-preview d-flex flex-column justify-content-center" style="height: 900px;">
        <h1 class="post-title mb-3" style="font-size: 60px;">Man must explore, <br> and this is exploration <br>  at its greatest</h1>
        <p class="post-meta" style="font-size: 20px;">
            Posted by
            <a th:href="@{/jobs}">Start Bootstrap</a>
            on September 24, 2022
        </p>
    </div>
<!--    <div>-->
<!--        <img th:src="@{/img/asset/manu/2.svg}"/>-->
<!--    </div>-->
</div>

<footer layout:fragment="footer" class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
            </div>
        </div>
    </div>
</footer>
</html>