<html layout:decorate="~{index}" xmlns:layout="http://www.w3.org/1999/xhtml">

<header layout:fragment="header" class="mastheadMain" style="background-image: url('img/asset/teamMates/Teammates2.png')">

    <article class="main-article">함께하는 과정에서 </br> 새로운 가치를 창출합니다</article>
</header>

<!--<div layout:fragment="content" class="container-fluid"-->
<!--     style="background-image: url('img/asset/manu/2.svg');-->
<!--     background-position: right center;-->
<!--     background-repeat: no-repeat; padding-right: 700px; padding-top: 200px;-->
<!--     height: 1000px; margin-right: 200px;">-->
<div layout:fragment="content" class="container" style="width: 1300px; height: 700px;">
    <div class="post-preview d-flex justify-content-center">
        <p class="post-title mb-3" style="font-size: 35px; text-align: center">
            새로운 기준을 만드는 기회, </br>
            우리와 함께해요!
        </p>
    </div>
<!--    <div>-->
<!--        <img th:src="@{/img/asset/manu/2.svg}"/>-->
<!--    </div>-->
</div>

<footer layout:fragment="footer" class="border-top">
    <div class="container" style="padding-left: 50px; padding-right: 50px;">
        <div class="row ">
            <address class="col-md-3 col-lg-3">
                <ul>
                    <li class="footer-title">채용문의</li>
                    <li class="footer-content">
                        <a href="mailto:recruit@castis.com">recruit@castis.com</a>
                    </li>
                    <li class="footer-content">
                        <a href="tel:02-886-6763">02 886 6763</a></li>
                </ul>
            </address>
            <div class="col-md-3 col-lg-4">
                <ul>
                    <li class="footer-title">CASTIS SNS</li>
                    <li class="footer-content">
                        <a href="https://blog.naver.com/castishr" target="_blank" rel="noreferrer">캐스트이즈 블로그</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://www.instagram.com/castis_recruit" rel="noreferrer" target="_blank">인스타그램</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://www.youtube.com/@castisrecruit" rel="noreferrer" target="_blank">유튜브 채널</a>
                    </li>
                </ul>
            </div>
            <address class="col-md-6 col-lg-5" style="padding-left: 32px; padding-right: 32px;">
                <p class="footer-desc m-0">Copyright © (주) 캐스트이즈. All rights reserved.</p>
                <p class="footer-desc m-0">서울특별시 관악구 남부순환로 1931 봉천동 K타워 3~7층</p>
                <p class="footer-desc m-0">
                    <a href="#" rel="noreferrer" target="_blank">
                        개인정보처리방침
                    </a>
                </p>
            </address>
        </div>
    </div>
</footer>
</html>