<html layout:decorate="~{index}" xmlns:layout="http://www.w3.org/1999/xhtml">

<header layout:fragment="header" class="mastheadMain">

</header>

<!--<div layout:fragment="content" class="container-fluid"-->
<!--     style="background-image: url('img/asset/manu/2.svg');-->
<!--     background-position: right center;-->
<!--     background-repeat: no-repeat; padding-right: 700px; padding-top: 200px;-->
<!--     height: 1000px; margin-right: 200px;">-->
<div layout:fragment="content" class="container" style="width: 1300px; height: 700px;">
    <div class="post-preview d-flex align-items-center justify-content-center">
        <h1 class="post-title mb-3" style="font-size: 60px;">Make some <br> New Definition <br>  Together</h1>
        <img th:src="@{/img/asset/manu/2.svg}" class="ps-4 mt-2 w-50 h-50">
    </div>
<!--    <div>-->
<!--        <img th:src="@{/img/asset/manu/2.svg}"/>-->
<!--    </div>-->
</div>

<footer layout:fragment="footer" class="border-top">
    <div class="container" style="padding-left: 50px; padding-right: 50px;">
        <div class="row ">
            <address class="col-md-3 col-lg-3">
                <ul>
                    <li class="footer-title">채용문의</li>
                    <li class="footer-content">
                        <a href="mailto:recruit@castis.com">recruit@castis.com</a>
                    </li>
                    <li class="footer-content">
                        <a href="tel:02-886-6763">02 886 6763</a></li>
                </ul>
            </address>
            <div class="col-md-3 col-lg-4">
                <ul>
                    <li class="footer-title">CASTIS SNS</li>
                    <li class="footer-content">
                        <a href="https://blog.naver.com/castishr" target="_blank" rel="noreferrer">캐스트이즈 블로그</a>
                    </li>
                    <li class="footer-content">
                        <a href="#" rel="noreferrer" target="_blank">인스타그램</a>
                    </li>
                    <li class="footer-content">
                        <a href="#" rel="noreferrer" target="_blank">페이스북</a>
                    </li>
                </ul>
            </div>
            <address class="col-md-6 col-lg-5" style="padding-left: 32px; padding-right: 32px;">
                <p class="footer-desc m-0">Copyright © (주) 캐스트이즈. All rights reserved.</p>
                <p class="footer-desc m-0">서울특별시 관악구 남부순환로 1931 봉천동 K타워 3~7층</p>
                <p class="footer-desc m-0">
                    <a href="#" rel="noreferrer" target="_blank">
                        개인정보처리방침
                    </a>
                </p>
            </address>
        </div>
    </div>
</footer>
</html>