<html layout:decorate="~{index}">
<header layout:fragment="header" class="masthead2" xmlns:th="http://www.thymeleaf.org">
    <div class="container position-relative px-4 px-lg-5">
        <!--        <div class="row gx-4 gx-lg-5 justify-content-center">-->
        <!--            <div class="col-md-10 col-lg-8 col-xl-7">-->
        <!--                <div class="post-heading">-->
        <!--                    <h1>Explore Jobs you want</h1>-->
        <!--                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
        <!--                    <span class="meta">-->
        <!--                                Posted by-->
        <!--                                <a href="#!">Start Bootstrap</a>-->
        <!--                                on August 24, 2022-->
        <!--                            </span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</header>
<!-- Post Content-->
<article layout:fragment="content" class="mb-4">
    <div class="container">
<!--        <div class="col-3" style="height: 500px; ">-->

<!--            <div class="d-flex justify-content-start m-3 mb-5 custom_board_text"-->
<!--                 style="font-weight: 800; font-size: 30px">-->
<!--                채용 공고</div>-->
<!--            <div class="d-flex m-3 p-2 flex-column justify-content-between" style=" height: 1000px;"></div>-->
<!--        </div>-->
        <div class="jobList">
            <div class="d-flex m-3 p-2 flex-column justify-content-start">
                <div class="custom_board_text custom_board_title mb-3" th:text="${jobDetails.title}"> 2023년 상반기 BO(비즈니스오너)/PM(프로젝트매니저) 모집 </div>
                <div class="custom_board_text custom_board_content mb-3">
                    <span th:text="${jobDetails.experience}"></span> /
                    <span th:text="${jobDetails.education}"></span> /
                    <span th:text="${jobDetails.type}"></span> /
                    <span th:text="${jobDetails.location}"></span> </div>
                <div class="custom_board_text custom_board_content d-flex justify-content-end">
                    지원기간 :&nbsp;
                    <span th:text="${#dates.format(jobDetails.start_date, 'yyyy.MM.dd')}"></span>
                    &nbsp;~&nbsp;
                    <span th:text="${#dates.format(jobDetails.end_date, 'yyyy.MM.dd')}"></span>
                </div>
                <p class="custom_board_text custom_board_content d-flex" th:utext="${jobDetails.content}"></p>
                <p class="custom_board_text custom_board_content" th:if="${jobDetails.filename} != null"> * 아래 첨부되어 있는 지원서를 확인해보세요.</p>
                <a class="custom_board_text custom_board_content" th:text="${jobDetails.filename}" th:href="|/download/${jobDetails.id}|"></a>
                <a class="btn btn-sm d-flex justify-content-center custom_apply_button my-5"
                        th:href="@{/jobApply(id=${jobDetails.id})}">
                    <span>지원하기</span>
                </a>
            </div>
        </div>
    </div>
</article>
<!-- Footer-->
<footer layout:fragment="footer" class="border-top">
    <div class="container" style="padding-left: 50px; padding-right: 50px;">
        <div class="row ">
            <address class="col-md-3 col-lg-3">
                <ul>
                    <li class="footer-title">채용문의</li>
                    <li class="footer-content">
                        <a href="mailto:recruit@castis.com">recruit@castis.com</a>
                    </li>
                    <li class="footer-content">
                        <a href="tel:02-886-6763">02 886 6763</a></li>
                </ul>
            </address>
            <div class="col-md-3 col-lg-4">
                <ul>
                    <li class="footer-title">CASTIS SNS</li>
                    <li class="footer-content">
                        <a href="https://blog.naver.com/castishr" target="_blank" rel="noreferrer">캐스트이즈 블로그</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://www.instagram.com/castis_recruit" rel="noreferrer" target="_blank">인스타그램</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://www.youtube.com/@castisrecruit" rel="noreferrer" target="_blank">유튜브 채널</a>
                    </li>
                </ul>
            </div>
            <address class="col-md-6 col-lg-5" style="padding-left: 32px; padding-right: 32px;">
                <p class="footer-desc m-0">Copyright © (주) 캐스트이즈. All rights reserved.</p>
                <p class="footer-desc m-0">서울특별시 관악구 남부순환로 1931 봉천동 K타워 3~7층</p>
                <p class="footer-desc m-0">
                    <a href="#" rel="noreferrer" target="_blank">
                        개인정보처리방침
                    </a>
                </p>
            </address>
        </div>
    </div>
</footer>

</html>
