<html layout:decorate="~{index}">
<header layout:fragment="header" class="masthead2" xmlns:th="http://www.thymeleaf.org">
</header>
<!--<header layout:fragment="header" class="mastheadJobs" xmlns:th="http://www.thymeleaf.org">-->
<!--    <div class="container position-relative">-->
<!--        <h1>Explore Jobs you want</h1>-->
<!--    </div>-->
<!--</header>-->
<!-- Post Content-->
<article layout:fragment="content" class="mb-4">
    <div class="container">
<!--        <div class="col-3" style="height: 500px; ">-->

<!--            <div class="d-flex justify-content-start m-3 mb-5 custom_board_text"-->
<!--                 style="font-weight: 800; font-size: 30px">-->
<!--                채용 공고-->
<!--            </div>-->
<!--            <div class="d-flex m-3 p-2 flex-column justify-content-between" style=" height: 1000px;"></div>-->
<!--        </div>-->
        <div class="board d-flex flex-column" style=" height: 1282px; ">

            <div class="d-flex justify-content-start m-3 mb-2 custom_board_text"
                 style="font-weight: 800; font-size: 30px">
                채용 공고
            </div>
            <div class="d-flex justify-content-start m-3 mb-2 custom_board_text"
                 style="font-weight: 600; font-size: 20px;">
                <span th:text="${#lists.size(jobList)}" style="color: #669D67"></span>
                건의 채용공고가 있습니다
            </div>
            <div class="d-flex justify-content-end m-3 mb-5">
<!--                <input class="custom_search_input" placeholder="KEYWORD"/>-->
<!--                <button class="ms-3 custom_search_button">-->
<!--                    <span>SEARCH</span>-->
<!--                </button>-->
            </div>
            <ul class="jobList">
                <li th:each="job : ${jobList}">
                    <a th:href="@{/jobDetail(id=${job.id})}">
                        <div class="custom_board_text custom_board_title mb-3" th:text="${job.title}"> 2023년 상반기 BO(비즈니스오너)/PM(프로젝트매니저) 모집 </div>
                        <div class="custom_board_text custom_board_content mb-3">
                            <span th:text="${job.experience}"></span> /
                            <span th:text="${job.education}"></span> /
                            <span th:text="${job.type}"></span> /
                            <span th:text="${job.location}"></span>
                        </div>
                        <div class="custom_board_text custom_board_content d-flex justify-content-end">
                            지원기간 :&nbsp;
                            <span th:text="${#dates.format(job.start_date, 'yyyy.MM.dd')}"></span>
                            &nbsp;~&nbsp;
                            <span th:text="${#dates.format(job.end_date, 'yyyy.MM.dd')}"></span>
                        </div>
                    </a>
<!--                    <hr class="my-4" />-->
                </li>
            </ul>
        </div>
    </div>
</article>
<!-- Footer-->
<footer layout:fragment="footer" class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
            </div>
        </div>
    </div>
</footer>

</html>
