<html board:decorate="~{jobs}" xmlns:board="http://www.w3.org/1999/xhtml">

<div board:fragment="board" class="d-flex m-3 p-2 flex-column justify-content-between" style=" height: 1000px;">
    <th:block th:each="num : ${#numbers.sequence(1,6)}">
        <a href="post.html">
            <div class="custom_board_text custom_board_title"> 2023년 상반기 BO(비즈니스오너)/PM(프로젝트매니저) 모집 </div>
            <div class="custom_board_text custom_board_content"> 경력무관 / 학력무관 / 정규직 / 서울 관악구 </div>
        </a>
        <div class="custom_board_text custom_board_content d-flex justify-content-end"> 지원기간 : 2023.01.02 ~ 2023.01.30 </div>
        <hr class="my-4" />
    </th:block>
</div>

</html>