<html layout:decorate="~{index}">
<header layout:fragment="header" class="mastheadCulutre" style="background-image: url('img/asset/manu/16.svg');">

</header>
<!-- Post Content-->
<article layout:fragment="content" class="mb-4">
    <div class="container px-4 px-lg-5">
        <p class="culture-title d-flex justify-content-center">LIFE AT CASTIS</p>
        <p class="culture-mainText d-flex justify-content-center">최상의 성과를 위하여 나에게 맞는 최적의 서비스를 선택합니다</p>
        <div class="row justify-content-start justify-content-lg-between" style="padding-top: 150px; padding-bottom: 180px;">
            <div class="mb-5 col-sm-6">
                <div class="mb-3 pt-6 pb-6 d-flex justify-content-center align-items-center rounded overflow-hidden relative bg-blur">
<!--                    <img th:src="@{/img/asset/emoji/hands/light-skin-tone/handshake.png}" alt="" class="bg-img blur-50" />-->
                    <img th:src="@{/img/asset/emoji/hands/light-skin-tone/handshake.png}" alt="" class="mt-2 mb-2 d-block w-50 h-50 p-3"/>
                </div>
                <h4 class="culture-mainText mt-4 pt-1 pb-2">개인 에이전트</h4>
                <p class="culture-content pb-4 body-17 grey-dark-4">
                    혼자서는 외로우니까. <br><br>
                    나를 보장해주고 지지해주는 에이전트를 스스로 선택하고, 개인 맞춤 HR 서비스를 제공 받을 수 있습니다.</p>
             </div>
            <div class="mb-5 col-sm-6">
                <div class="mb-3 pt-6 pb-6 d-flex justify-content-center align-items-center rounded overflow-hidden relative bg-blur">
                    <!--                    <img th:src="@{/img/asset/emoji/hands/light-skin-tone/handshake.png}" alt="" class="bg-img blur-50" />-->
                    <img th:src="@{/img/asset/slam/iMac.png}" alt="" class="mt-2 mb-2 d-block w-50 h-50 p-3"/>
                </div>
                <h4 class="culture-mainText mt-4 pt-1 pb-2">유연한 근무환경</h4>
                <p class="culture-content pb-4 body-17 grey-dark-4">
                    CASTIS에서는 근무환경에 구애받지 않고 업무를 할 수 있습니다. <br><br>
                    몰입할 수 있는 개인 업무 집중공간, 잔잔한 음악이 나오는 카페 라운지 공간 등, 자신에게 딱 맞는 업무 공간에서 일할 수 있습니다.
                </p>
            </div>
            <div class="mb-5 mb-lg-0 col-sm-6 col-lg-4">
                <div class="mb-3 pt-6 pb-6 d-flex justify-content-center align-items-center rounded overflow-hidden relative bg-blur">
                    <!--                    <img th:src="@{/img/asset/emoji/hands/light-skin-tone/handshake.png}" alt="" class="bg-img blur-50" />-->
                    <img th:src="@{/img/asset/emoji/objects/soccer-ball.png}" alt="" class="mt-2 mb-2 d-block w-50 h-50 p-3"/>
                </div>
                <h4 class="culture-mainText mt-4 pt-1 pb-2">사내 소모임 운영</h4>
                <p class="culture-content pb-4 body-17 grey-dark-4">
                    일만할 수 없으니까! <br><br>
                    사내에서 같은 취미를 가진 사람들과 함께하는 다양한 활동을 지원합니다.</p>
            </div>
            <div class="mb-5 mb-lg-0 col-sm-6 col-lg-4">
                <div class="mb-3 pt-6 pb-6 d-flex justify-content-center align-items-center rounded overflow-hidden relative bg-blur">
                    <!--                    <img th:src="@{/img/asset/emoji/hands/light-skin-tone/handshake.png}" alt="" class="bg-img blur-50" />-->
                    <img th:src="@{/img/asset/emoji/faces/Big-Eyes.png}" alt="" class="mt-2 mb-2 d-block w-50 h-50 p-3"/>
                </div>
                <h4 class="culture-mainText mt-4 pt-1 pb-2">수평적인 문화</h4>
                <p class="culture-content pb-4 body-17 grey-dark-4">
                    호칭과 복장 자율화 <br><br>
                    성별과 세대에 구분되지 않는 조직문화를 실천하여, 누구라도 무엇이든지 도전할 수 있습니다..</p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="mb-3 pt-6 pb-6 d-flex justify-content-center align-items-center rounded overflow-hidden relative bg-blur">
                    <!--                    <img th:src="@{/img/asset/emoji/hands/light-skin-tone/handshake.png}" alt="" class="bg-img blur-50" />-->
                    <img th:src="@{/img/asset/emoji/objects/party-popper.png}" alt="" class="mt-2 mb-2 d-block w-50 h-50 p-3"/>
                </div>
                <h4 class="culture-mainText mt-4 pt-1 pb-2">육아휴직 지원</h4>
                <p class="culture-content pb-4 body-17 grey-dark-4">
                    아기는 축복이예요 <br><br>
                    성별 상관없이 최대 2년의 육아휴직을 보장합니다.</p>
            </div>
    </div>
    </div>
</article>
<!-- Footer-->
<footer layout:fragment="footer" class="border-top">
    <div class="container" style="padding-left: 50px; padding-right: 50px;">
        <div class="row ">
            <address class="col-md-3 col-lg-3">
                <ul>
                    <li class="footer-title">채용문의</li>
                    <li class="footer-content">
                        <a href="mailto:recruit@castis.com">recruit@castis.com</a>
                    </li>
                    <li class="footer-content">
                        <a href="tel:02-886-6763">02 886 6763</a></li>
                </ul>
            </address>
            <div class="col-md-3 col-lg-4">
                <ul>
                    <li class="footer-title">CASTIS SNS</li>
                    <li class="footer-content">
                        <a href="https://blog.naver.com/castishr" target="_blank" rel="noreferrer">캐스트이즈 블로그</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://www.instagram.com/castis_recruit" rel="noreferrer" target="_blank">인스타그램</a>
                    </li>
                    <li class="footer-content">
                        <a href="https://www.youtube.com/@castisrecruit" rel="noreferrer" target="_blank">유튜브 채널</a>
                    </li>
                </ul>
            </div>
            <address class="col-md-6 col-lg-5" style="padding-left: 32px; padding-right: 32px;">
                <p class="footer-desc m-0">Copyright © (주) 캐스트이즈. All rights reserved.</p>
                <p class="footer-desc m-0">서울특별시 관악구 남부순환로 1931 봉천동 K타워 3~7층</p>
                <p class="footer-desc m-0">
                    <a href="#" rel="noreferrer" target="_blank">
                        개인정보처리방침
                    </a>
                </p>
            </address>
        </div>
    </div>
</footer>
</html>